<div
    class="job-card"
    draggable="true"
    data-job-id="{{ job.id }}"
    data-status-url="{% url 'update_job_status' job.id %}"
    data-company="{{ job.company|lower }}"
    data-position="{{ job.position|lower }}"
>


    <div class="job-card-top">


        <div class="company-avatar">

            {{ job.company|first|upper }}

        </div>


        <div class="job-card-company">

            <div class="job-company-name">
                {{ job.company }}
            </div>

            <div class="job-position">
                {{ job.position }}
            </div>

        </div>


        <button
            type="button"
            class="job-card-menu"
            onclick="event.stopPropagation();"
        >
            ⋮
        </button>


    </div>



    <div class="job-card-details">


        {% if job.location %}

        <span class="job-detail">

            📍 {{ job.location }}

        </span>

        {% endif %}


        {% if job.salary %}

        <span class="job-detail">

            💰 {{ job.salary }}

        </span>

        {% endif %}


    </div>



    <div class="job-card-footer">


        <span class="job-date">

            {% if job.date_applied %}

                {{ job.date_applied }}

            {% else %}

                Added recently

            {% endif %}

        </span>


        <a
            href="{% url 'job_detail' job.id %}"
            class="job-view-link"
            onclick="event.stopPropagation();"
        >

            View →

        </a>


    </div>


</div>